@{
    ViewBag.Title = "About";
}
<div class="col-md-5">

    <div class="block block-drop-shadow" style="height:520px;">
        <div class="head bg-default bg-light-ltr" style="height:520px;">
            <div style="height:29px"><h2></h2></div>
            <div style="">
                <div style="font-size:14px">
                    <span style="font-size:20px">
                        <b> About IRC:</b>
                    </span> Founded in 1933, the International Rescue Committee responds to the world’s worst humanitarian crises and helps people to survive and rebuild their lives. The IRC offers lifesaving care and life-changing assistance in over 40 countries and in 22 U.S. cities, restoring safety, dignity and hope to millions who are uprooted and struggling to endure. Since 2007, IRC has worked with refugees and other vulnerable populations in Jordan. IRC’s recent and current programs in Jordan focused on interventions that address Gender based Violence and specifically violence against women and girls for Iraqi refugees and host community members. Interventions in this sector ensure coordinating the available services while ensuring quality response to survivors through building the capacities of local partners and service providers on the ground. IRC interventions also prioritize working with partners to deliver effective preventive messages.



                </div>

            </div>


        </div>

    </div>



</div>
<div class="col-md-5">

    <div class="block block-drop-shadow"  style="height:520px;">
        <div class="head bg-default bg-light-ltr"  style="height:520px;">
            <div style="height:29px"><h2></h2></div>
            <div style="">
                <div style="font-size:14px">
                    <span style="font-size:20px">
                        <b> About IRC:</b>
                    </span> Founded in 1933, the International Rescue Committee responds to the world’s worst humanitarian crises and helps people to survive and rebuild their lives. The IRC offers lifesaving care and life-changing assistance in over 40 countries and in 22 U.S. cities, restoring safety, dignity and hope to millions who are uprooted and struggling to endure. Since 2007, IRC has worked with refugees and other vulnerable populations in Jordan. IRC’s recent and current programs in Jordan focused on interventions that address Gender based Violence and specifically violence against women and girls for Iraqi refugees and host community members. Interventions in this sector ensure coordinating the available services while ensuring quality response to survivors through building the capacities of local partners and service providers on the ground. IRC interventions also prioritize working with partners to deliver effective preventive messages.



                </div>

            </div>


        </div>

    </div>



</div>
