
@{
    ViewBag.Title = "AddUpdate";
}

<div class="col-md-10">

    <div class="block block-drop-shadow">
        <div class="head bg-default bg-light-ltr">

            <iframe style="width:100%;height:700px;" src="https://enketo.unhcr.org/x/#YpTr" frameborder="0" allowFullScreen="true"></iframe>

        </div>
    </div>
</div> 

