
@{
    ViewBag.Title = "Coverage";
}

<div class="col-md-10">
    <div class="block block-drop-shadow" style="height:750px;text-align:center">
        <div class="head bg-default bg-light-ltr" style="height:750px;">
            <div style="height:29px"><h2></h2></div>
            <div style="border: solid 3px;background-color:white;width: 75%;margin: auto;">
                <img src="/img/loginMap.jpg" style="height:550px;width:80%" />
            </div>
        </div>
    </div>
</div>
