
@{
    ViewBag.Title = "DataSharingProtocol";
}

<div class="col-md-10">

    <div class="block block-drop-shadow" style="height:520px;align-content:center; overflow: auto">
        <div class="head bg-default bg-light-ltr" style="padding-left:50px">
            <div style="text-align:center;">
                <b style="text-align:center">
                    ANNEX 1 – SHARING OF SERVICE MAPPING DATA<br />
                    
                </b><br />
            </div>

            <div style="width:100%;padding-left:15px;padding-right:15px;font-size:13px">
                <b style="font-size:16px">Background and Purpose</b> <br />

               This Annex serves to supplement the Information Sharing Protocols (ISP) of the Amman Hub Protection Working Group, Cross-Border (PWG),  namely so as to enable the PWG to share service mapping data provided by PWG members and other humanitarian agencies. 
	<br />
	<br />
In 2017, the PWG convened a Technical Working Group (TWiG) to standardize service mapping tools and to lay the foundation for sharing service mapping data with PWG partners and others. The PWG has access to multiple data sources including information on hundreds of service providers in Southern Syria. Further the TWiG has standardized data collection tools to enable data collection on an ongoing basis. The PWG will maintain the dataset, incorporating and cross-referencing additions and updates as made available and otherwise serving as the primary custodian of the dataset, i.e. service directory.
<br />
<br />
The PWG will share the revised service directory on a periodic basis, at present every three months, with one focal point per organization who agrees to adhere to the Principles and Commitments outlined below. This approach will help to ensure clear accountability with respect to data use and security. Further, as noted, the focal point accepts a responsibility to support the TWiG, namely with respect to contributing and verifying service mapping data and, e.g., developing referral pathways.
<br />
<br />
By collecting and sharing service mapping data, the PWG intends to enable and strengthen the development of localized and tailored referral pathways, as well as to otherwise enhance the speed and quality of response efforts. At the same time, the PWG recognizes the sensitivity of service mapping data within the context of the Syria response and thus the need, based on the Do No Harm principle, to ensure clear information sharing protocols.
<br />


                <br /> <b style="font-size:16px">Agreed Principles and Commitments</b><br />

                The PWG and focal points agree to share service mapping data in view of, and according to, the following: <br />


•	The PWG will only share the service directory with humanitarian agencies that agree to adhere to these Principles and Commitments; partner focal points will not share the dataset externally (i.e. outside of their respective organizations);
<br />

•	The only service provider data that will be shared is that for which informed consent to share with humanitarian actors was obtained; 
<br />

•	The locations of service providers will be shared at a high level of generality, namely at the neighborhood or community level (with the expectation, e.g., that humanitarian actors will contact the organization of concern prior to making a referral);
<br />

•	Focal points are encouraged to share only information of potential use with field teams (i.e. not the full dataset where certain geographic areas might be irrelevant based on current or planned coverage); any warnings or instructions within the overall dataset should be maintained. 
<br />

•	Users will only maintain/store service mapping data electronically (i.e. not to print the data) on a device/platform that requires login with a password.
<br />

•	Users shall not otherwise store, disseminate or use the data in a way that violates informed consent or enhances risks of harm for service providers or staff.
<br />

Additionally, the PWG recognizes that the service directory, and underlying data collection process, is inherently limited in its ability to provide information on the quality of service provision. For this reason, it is further acknowledged and understood that organizations will contact service providers to establish relationships and assess quality prior to making referrals.
<br />

Finally, recognizing the value of a comprehensive and up-to-date service directory, as well as the value of continuing the TWiG’s work, for example by developing referral pathways and generating guidance, it is further agreed that:
<br />

•	Focal points, on behalf of their organizations, commit to contributing and validating service mapping data, using agreed upon tools where possible;
<br />

•	Focal points also agree to participate in TWiG meetings.
<br />


                <br /><b style="font-size:16px">Breaches to the Protocol</b><br />


Breaches to the terms of this Annex shall be handled according to the terms of the ISP. If PWG Coordinators believe that a serious breach has taken place, the individuals or organizations of concern will stop receiving service mapping data pending investigation and resolution of the issue. 
<br />
                <br /><b style="font-size:16px"> Revision</b><br />


                <b style="font-size:13px">
                  
               
				
This document is included as an Annex to the PWG’s ISP to enable more frequent revision. Organization focal points can be included and validated by PWG Coordinators. Changes to the terms of this Annex require the review and endorsement of the PWG. 
<br />
				<br /><b style="font-size:16px"> Acknowledgement</b><br />


                <b style="font-size:13px">

               
Inclusion as a focal point requires written acknowledgement of the above, which may be provided via email to PWG Coordinators and the PWG’s Information Management Officer. A written signature, e.g. to this Annex, is not necessary for reasons of practicality. The PWG IMO will maintain the list of focal points, along with this Annex, for periodic review by the TWiG and/or PWG.

              



            </div>



        </div>


    </div>

</div>



</div>

