@{
    ViewBag.Title = "Home Page";
}

 <div class="col-md-10">

    <div class="block block-drop-shadow"  >
        <div class="head bg-default bg-light-ltr" >
           
                <iframe style="width:100%;height:600px;" src="https://app.powerbi.com/view?r=eyJrIjoiYjg3YTdkMTgtMjZlNi00ZDg1LWE5MTgtODUzZTdjZDQ4NTViIiwidCI6IjA1ZjEzMThjLTY3ODMtNDMyNi1iNzI5LWJmNTM3YTc2MWRiOCIsImMiOjN9" frameborder="0" allowFullScreen="true"></iframe>
  
        </div>   
    </div> 
</div> 


